<div class="mx-auto w-full max-w-[550px] bg-white shadow-lg p-7 rounded-xl border border-gray-200">
    <div class="text-center">
        <h1 class="font-bold text-3xl">Create your account</h1>
        <p class="text-sm text-gray-400 mb-5">Start managing your project efficiently today.</p>
    </div>

    <form class="text-sm" [formGroup]="registerForm" (submit)="submit()">
        <div class="md:grid md:grid-cols-2 md:gap-3">
            <app-input 
                [control]="registerForm.controls.company"
                [label]="'Company Name'"
                [placeholder]="'Acme Corp'"
                [type]="'text'"
                [formatFuncion]="FormatUtils.upperCase"
            />

            <app-input 
                [control]="registerForm.controls.firstName"
                [label]="'First Name'"
                [placeholder]="'Carlos'"
                [type]="'text'"
                [formatFuncion]="FormatUtils.camelCase"
            />

            <app-input 
                [control]="registerForm.controls.paternalLastName"
                [label]="'Maternal Last Name'"
                [placeholder]="'Martinez'"
                [type]="'text'"
                [formatFuncion]="FormatUtils.camelCase"
            />
            <app-input 
                [control]="registerForm.controls.maternalLastName"
                [label]="'Paternal Last Name'"
                [placeholder]="'Martinez'"
                [type]="'text'"
                [formatFuncion]="FormatUtils.camelCase"
            />
        </div>

        <app-input 
            [control]="registerForm.controls.email"
            [label]="'Email'"
            [placeholder]="'name@company.com'"
            [type]="'email'"
            [formatFuncion]="FormatUtils.textTrim"
        />

        <div class="md:grid md:grid-cols-2 md:gap-3">
            <app-input 
                [control]="registerForm.controls.password"
                [label]="'Password'"
                [placeholder]="'*******'"
                [type]="'password'"
                [(fieldActive)]="fieldActive"
                [fieldName]="'password'"
            />

            <app-input 
                [control]="registerForm.controls.confirmPassword"
                [label]="'Confirm Password'"
                [placeholder]="'*******'"
                [type]="'password'"
                [(fieldActive)]="fieldActive"
                [fieldName]="'confirmPassword'"
            />
        </div>

        @if (
            registerForm.hasError('passwordMismatch') &&
            registerForm.get('confirmPassword')?.touched
        ) {
            <span class="text-red-500 text-sm mt-1">
                Las contraseñas no coinciden
            </span>
        }

        <button
            class="cursor-pointer w-full rounded-md bg-blue-700 hover:bg-blue-900 py-3 px-8 text-center text-base font-semibold text-white outline-none"
            [class]="ButtonUtils.isDisabledButton(!registerForm.valid || isLoading())" [disabled]="!registerForm.valid || isLoading()">
            @if (isLoading()) {
            <span>
                <icon-spinner />
                Sending...
            </span>
            }@else {
            <span>Create Account</span>
            }
        </button>

        @if(isError()){
            <app-message [severity]="'error'" [classes]="'w-fit mx-auto mt-5 text-sm'">
                <span>{{errorMessage}}</span>
            </app-message>
        }

        @if (fieldActive()) {
            <app-password-strength-meter
                [password]="registerForm.get(fieldActive()!)?.value ?? ''"
            />
        }
    </form>
</div>

<p 
    class="text-gray-500 text-center mt-5 cursor-pointer hover:text-gray-700"
    routerLink="/auth/login"
>Already have an account? <span class="text-blue-700 group-hover:text-blue-900">Log in</span></p>

<app-dialog [(visible)]="visible">
    <div dialogBody class="text-center">
        <h2 class="font-bold text-2xl">¡Cuenta creada correctamente!</h2>

        <p>Enviamos un correo de verificación a: </p>

        <p class="font-bold bg-blue-100 border border-blue-200 rounded-lg p-3 text-base my-2">{{email}}</p>
        
        <p>Revisa tu bandeja de entrada y sigue las instrucciones para activar tu cuenta.</p>
        
        <div class="font-bold bg-blue-100 border border-blue-200 rounded-lg p-3 text-base my-2 flex gap-1">
            <p>icono</p>

            <div class="text-sm flex flex-col text-left">
                <p class="font-bold">¿No encuentras el correo?</p>
                <p class="font-normal">Revisa tu carpeta de spam o correo no deseado</p>
            </div>
        </div>

        <button 
            class="p-2 w-full bg-blue-700 text-white focus:outline-blue-800 cursor-pointer rounded-lg hover:bg-blue-800" 
            type="button"
            routerLink="/auth/login"
        >
            Ir al Login
        </button>
    </div>
</app-dialog>