<a href="#" class="relative group inline-block text-white md:text-black">
    Inicio
    <span
        class="absolute left-0 bottom-0 h-[2px] w-0 bg-blue-500 transition-all duration-300 group-hover:w-full"></span>
</a>
<a href="#" class="relative group inline-block text-white md:text-black">
    Advantages
    <span
        class="absolute left-0 bottom-0 h-[2px] w-0 bg-blue-500 transition-all duration-300 group-hover:w-full"></span>
</a>
<a href="#" class="relative group inline-block text-white md:text-black">
    Plans
    <span
        class="absolute left-0 bottom-0 h-[2px] w-0 bg-blue-500 transition-all duration-300 group-hover:w-full"></span>
</a>