@if(!allTrue()){
    <h4 class="font-bold mb-2">Your password needs to:</h4>
    
    <ul class="text-red-800 font-semibold">
        <li class="flex" [class]="hasMinCharacters() ? 'hidden' : ''"><icon-x-mark/> Min 8 characters</li>
    
        <li class="flex" [class]="hasMaxCharacters() ? 'hidden' : ''"><icon-x-mark/> Max 16 characters</li>
    
        <li class="flex" [class]="hasUpperCase() ? 'hidden' : ''"><icon-x-mark/> Should contain uppercase</li>
    
        <li class="flex" [class]="hasLowerCase() ? 'hidden' : ''"><icon-x-mark/> Should contain lowercase</li>
    
        <li class="flex" [class]="hasNumber() ? 'hidden' : ''"><icon-x-mark/> Should contain number</li>
    
        <li class="flex" [class]="hasSpecialCharacter() ? 'hidden' : ''"><icon-x-mark/> Should contain a special character (!@#$%^&*)</li>
    </ul>
}