<a  routerLink="/auth/login" 
    fragment="login" 
    class="relative group inline-block text-white md:text-black md:hidden" 
    (click)="handleClick()"
>
    Login
    <span
        class="absolute left-0 bottom-0 h-[2px] w-0 bg-blue-500 transition-all duration-300 group-hover:w-full"></span>
</a>

<a  routerLink="/auth/sign-up" 
    fragment="signup" 
    class="relative group inline-block text-white md:text-black md:hidden"
    (click)="handleClick()"
>
    Get Started
    <span
        class="absolute left-0 bottom-0 h-[2px] w-0 bg-blue-500 transition-all duration-300 group-hover:w-full"></span>
</a>

<a routerLink="/" fragment="inicio" class="relative group inline-block text-white md:text-black" (click)="handleClick()">
    Inicio
    <span
        class="absolute left-0 bottom-0 h-[2px] w-0 bg-blue-500 transition-all duration-300 group-hover:w-full"></span>
</a>

<a routerLink="/" fragment="advantages" class="relative group inline-block text-white md:text-black" (click)="handleClick()">
    Advantages

    <span
        class="absolute left-0 bottom-0 h-[2px] w-0 bg-blue-500 transition-all duration-300 group-hover:w-full"></span>
</a>
<a routerLink="/" fragment="pricing" class="relative group inline-block text-white md:text-black" (click)="handleClick()">
    Plans
    
    <span
        class="absolute left-0 bottom-0 h-[2px] w-0 bg-blue-500 transition-all duration-300 group-hover:w-full"></span>
</a>