<div class="my-10 md:my-14 bg-blue-700 text-white p-5 md:p-8 rounded-lg md:w-8/12 mx-auto">
    <div class="w-4/5 mx-auto text-center">
        <h2 class="font-bold text-xl mb-2 md:text-4xl">Ready to transform your project management?</h2>
        <p class="text-xs md:text-base">Join thousands of teams scaling their productivity with ProjectFlow today.</p>

        <button 
            type="button" 
            class="text-blue-700 font-bold bg-white rounded-md w-fit py-3 px-5 md:px-7 text-sm mt-4 cursor-pointer hover:bg-gray-200 transition"
            routerLink="/auth/login"
        >
            Get Started Now
        </button>
    </div>
</div>